<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>test</title>
    <!--    Font-->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!--    custom CSS-->
    <link rel="stylesheet" href="dist/css/style.css">

    <!--    vue js-->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/reddit.js@0.1.4/reddit.min.js"></script>


</head>

<body>
    <div id="app" layout="column center-center">
            <div>
                <label>Subreddit</label>
                <input v-model="subreddit" @keyup="debouncedSubredditImgGetter()">
            </div>
      <div layout="row center-center">
          <img class="redditImg" v-for="item in subredditObjArr" :key="item.id" :src="item.imgURL" :alt="item.title" self="size-1of3">
      </div>
    </div>
    <!--   main script loading-->
    <script src="dist/js/site.js"></script>
</body>

</html>
